$theme-colors: (
  "primary": #5c3800,
  "secondary": #C3C5C0,
);

$btn-border-radius: 0;
$btn-padding-y: 1em;
$btn-padding-x: 4em;

$card-border-radius: 0;

$input-border-radius: 0;

$section-padding: 100px;

@import "../node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: Mont;
  src: url(../fonts/Mont_Regular.otf) format('opentype');
}

@font-face {
  font-family: Mont;
  font-weight: bold;
  src: url(../fonts/Mont_SemiBold.otf) format('opentype');
}

@font-face {
  font-family: Mont;
  font-weight: light;
  src: url(../fonts/Mont_Light.otf) format('opentype');
}

body {
  font-family: Mont;
}

h1, h2 {
  font-weight: bold;
}

p {
  font-size: 1.3em;
  line-height: 1.7em;
  margin-bottom: 2em;
}

.content-section {
  .col-md-6, .col-12 {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
  }
}

.header {
  background-image: url(../img/cabot-cliffs.jpg);
  background-size: cover;
}

.headline {
  font-size: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  button {
    align-self: flex-start;
  }
  img {
    margin-bottom: 100px;
  }
  h1 {
    margin-bottom: 100px;
  }
}

.bg-mud {
  background-image: url(../img/bg-mud.jpg);
}

.bg-grass {
  background-image: url(../img/bg-grass.jpg);
}

.services {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}

.contact {
  background-color: #2c3622;
}

.card {
  color: #000000;
  p {
    font-size: 1em;
  }
}

.card-img-top {
  height: 250px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

@media(min-width:768px) {
  .headline {
    min-height: 800px;
  }
  .form {
    width: 50%;
  }
}

@media(max-width:768px) {
  p {
    font-size: 1em;
  }
}
